<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.scet.saloonspot">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RecommendationServices"></activity>
        <activity android:name=".AppoitmentActivity" />
        <activity android:name=".chatbot" />
        <activity android:name=".Showreviewactivity" />
        <activity android:name=".ShowServiceActivity" />
        <activity android:name=".AddServiceActivity" />
        <activity android:name=".SaloonDashboard" />
        <activity android:name=".SaloonViewActivity" />
        <activity android:name=".AddSaloonActivity" />
        <activity android:name=".AdminDashBoardActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".Dashboard" />
        <activity android:name=".Registration" />
        <activity android:name=".saloonchatmain" />
        <activity android:name=".ForgotPasswordActivity"/>
        <activity android:name=".ArCameraModule"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities" />
    </application>

</manifest>